{
    "parserOptions":{
       "ecmaFeatures":{
          "legacyDecorators":true
       }
    },
    "extends":"airbnb",
    "plugins":[
       "react",
       "jsx-a11y",
       "import",
       "jest"
    ],
    "globals":{
       "jest":true,
       "document":true,
       "module":true,
       "process":true,
       "window":true,
       "global":true
    },
    "env":{
       "browser":true,
       "node":false,
       "jest":true
    },
    "rules":{
       "indent":[
          "error",
          4
       ],
       "comma-dangle":[
          "error",
          "always-multiline"
       ],
       "react/jsx-indent":[
          "error",
          4
       ],
       "react/jsx-indent-props":[
          "error",
          4
       ],
       "linebreak-style":"off",
       "react/jsx-filename-extension":[
          1,
          {
             "extensions":[
                ".js",
                ".jsx",
                ".ts",
                ".tsx"
             ]
          }
       ],
       "jest/no-disabled-tests":"warn",
       "jest/no-focused-tests":"error",
       "jest/no-identical-title":"error",
       "jest/valid-expect":"error",
       "jsx-a11y/label-has-for":"off",
       "react/prop-types":"off",
       "react/destructuring-assignment":"off",
       "react/jsx-fragments":"off",
       "react/jsx-curly-newline":"off",
       "react/state-in-constructor":"off",
       "react/static-property-placement":"off",
       "import/no-extraneous-dependencies":[
          "error",
          {
             "devDependencies":[
                "api-stub/**",
                "**/*.test.js",
                "**/*.stories.js"
             ]
          }
       ],
       "import/extensions":[
          "error",
          "ignorePackages",
          {
             "js":"never",
             "jsx":"never",
             "ts":"never",
             "tsx":"never"
          }
       ],
       "react/jsx-one-expression-per-line":"off",
       "react/jsx-props-no-spreading":"off",
       "react/jsx-max-props-per-line":[
          "error",
          {
             "maximum":1,
             "when":"always"
          }
       ],
       "max-len":[
          "error",
          {
             "code":150
          }
       ],
       "object-property-newline":[
          "error",
          {
             "allowAllPropertiesOnSameLine":true
          }
       ],
       "object-curly-newline":[
          "error",
          {
             "ObjectExpression":{
                "multiline":true
             },
             "ObjectPattern":{
                "multiline":true,
                "minProperties":1
             },
             "ImportDeclaration":{
                "multiline":true,
                "minProperties":2
             },
             "ExportDeclaration":{
                "multiline":true,
                "minProperties":3
             }
          }
       ],
       "no-use-before-define":"off"
    },
    "settings":{
       "react":{
          "version":"16.9.0"
       },
       "import/resolver":{
          "node":{
             "paths":[
                "src"
             ],
             "extensions":[
                ".js",
                ".jsx",
                ".ts",
                ".tsx"
             ],
             "moduleDirectory":[
                "node_modules",
                "src/"
             ]
          }
       }
    }
 }