
body {
  background-color: #282c34;
  padding: 3em 1em;
}

.app {
  color: #fff;
  text-align: center;

  &__header {
    font-size: 2em;
    margin-bottom: 2em;
  }

  &__container {
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto;
  }
}